.performedEl3
	.container 
		.performedEl__wrap 
			.swiper-container.gallery-top3
				.swiper-wrapper
					.swiper-slide
						.slider-img(style='background-image:url(./img/index/per1.png)')
						.elems 
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p г. Истра, Московская область
							span Состав системы:
							ul
								li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								li Ut enim ad minim veniam, quis nostrud exercitation 
								li Ullamco laboris nisi ut aliquip 
								li Commodo consequat.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.swiper-slide
						.slider-img(style='background-image:url(./img/index/per2.png)')
						.elems 
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p г. Истра, Московская область
							span Состав системы:
							ul
								li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								li Ut enim ad minim veniam, quis nostrud exercitation 
								li Ullamco laboris nisi ut aliquip 
								li Commodo consequat.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.swiper-slide
						.slider-img(style='background-image:url(./img/index/per3.png)')
						.elems 
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p г. Истра, Московская область
							span Состав системы:
							ul
								li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								li Ut enim ad minim veniam, quis nostrud exercitation 
								li Ullamco laboris nisi ut aliquip 
								li Commodo consequat.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.swiper-slide
						.slider-img(style='background-image:url(./img/index/per4.png)')
						.elems 
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p г. Истра, Московская область
							span Состав системы:
							ul
								li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								li Ut enim ad minim veniam, quis nostrud exercitation 
								li Ullamco laboris nisi ut aliquip 
								li Commodo consequat.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.swiper-slide
						.slider-img(style='background-image:url(./img/index/per5.png)')
						.elems 
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
							p г. Истра, Московская область
							span Состав системы:
							ul
								li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								li Ut enim ad minim veniam, quis nostrud exercitation 
								li Ullamco laboris nisi ut aliquip 
								li Commodo consequat.
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.swiper-container.gallery-thumbs3
			.swiper-wrapper
				.swiper-slide(style='background-image:url(./img/index/per1.png)')
				.swiper-slide(style='background-image:url(./img/index/per2.png)')
				.swiper-slide(style='background-image:url(./img/index/per3.png)')
				.swiper-slide(style='background-image:url(./img/index/per4.png)')
				.swiper-slide(style='background-image:url(./img/index/per5.png)')
		include ../sections-page/pages