section.advantages
	.container
		.advantages__title
			h2.title-2 Преимущества солнечных батарей
			p Установив энергосистемы, Вы получите следующие выгоды:
		.advantages__row 
			.advantages__elem
				.advantages__elem-body 
					.icon 
						img(src="img/index/ac1.png", alt="adv-ic1")
					p Независимость <br> от электросетей
				.advantages__elem-img 
					img.img(src="img/index/a1.png", alt="adv-1")
			.advantages__elem.advantages__elem-rev
				.advantages__elem-img 
					img.img(src="img/index/a2.png", alt="adv-2")
				.advantages__elem-body 
					.icon 
						img(src="img/index/ac2.png", alt="adv-ic2")
					p Возможность сэкономить на электроэнергии, добывая ее самостоятельно
			.advantages__elem
				.advantages__elem-body 
					.icon 
						img(src="img/index/ac3.png", alt="adv-ic3")
					p Инвестиция в будущее: срок эксплуатации –– до 25 лет
				.advantages__elem-img 
					img.img(src="img/index/a3.png", alt="adv-3")
			.advantages__elem.advantages__elem-rev
				.advantages__elem-img 
					img.img(src="img/index/a4.png", alt="adv-4")
				.advantages__elem-body 
					.icon 
						img(src="img/index/ac4.png", alt="adv-ic4")
					p Экологически чистая и бесшумная работающую энергосистему
