section.advcontact
	.container 
		h2.title-1-b Преимущества обращения <br> в Solar Force
		.advcontact__wrap 
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf1.png", alt="sf1")
				.advcontact__elem-body 
					h3 Бесплатный выезд специалиста
					p Инженер прибудет на объект в точно оговоренное время и произведет все необходимые расчеты.
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf2.png", alt="sf2")
				.advcontact__elem-body 
					h3 Профессионализм
					p Наши сотрудники имеют высокую квалификацию и многолетний опыт работы в этой сфере.
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf3.png", alt="sf3")
				.advcontact__elem-body 
					h3 Большой ассортимент
					p Широкий выбор оборудования в наличии –– для создания автономного энергоснабжения под Ваши потребности.
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf4.png", alt="sf4")
				.advcontact__elem-body 
					h3 Монтаж в любое время года
					p Большой опыт монтажных работ в разных климатических условиях позволяет нам успешно устанавливать оборудование в любое время года и при любых погодных условиях.
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf5.png", alt="sf5")
				.advcontact__elem-body 
					h3 Оперативность
					p Монтажные работы занимают от 1 до 3 дней.
			.advcontact__elem
				.advcontact__elem-img 
					img.img(src="img/index/sf6.png", alt="sf6")
				.advcontact__elem-body 
					h3 Гарантия
					p Мы даем гарантию на систему и монтаж.
