section.swiper-container.choice
	.choice__slider
		.swiper-wrapper
			.swiper-slide.swiper-slide-img.swiper-slide-img-1
				.choice__slider-body 
					h2 Выбрать самостоятельно 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					a(href="#").button3 Перейти в каталог
			.swiper-slide.swiper-slide-img.swiper-slide-img-1
				.choice__slider-body 
					h2 Выбрать самостоятельно 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					a(href="#").button3 Перейти в каталог
			.swiper-slide.swiper-slide-img.swiper-slide-img-1
				.choice__slider-body 
					h2 Выбрать самостоятельно 
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					a(href="#").button3 Перейти в каталог
				
		.swiper-pagination