section.delivery
	.container 
		h2.title-2 Поставляем и устанавливаем солнечные станции под ключ по России и СНГ
		p Специалисты компании Solar Force проводят целый комплекс работ — от проектирования энергокомплекса до установки и послегарантийного обслуживания электростанции. Останавливая свой выбор на солнечных батареях в качестве автономного и гибридного источника энергии, Вы выгодно вкладываете свои средства и вносите ощутимый вклад в сохранение мировой экологии.
		.delivery__wrap
			.delivery__elem
				.delivery__elem-img 
					img.img.big-img(src="img/index/post-1.png", alt="post-1")
					.delivery__elem-body 
						p Солнечные батареи устойчивы к механическим нагрузкам, надежно защищены от воздействия пыли, ветра, влаги. Энергосистемы способны функционировать даже в неблагоприятных климатических условиях.
						img.img(src="img/index/01.png", alt="post-1")
			.delivery__elem.delivery__elem-rev
				.delivery__elem-img 
					img.img.big-img(src="img/index/post-2.png", alt="post-2")
					.delivery__elem-body 
						img.img(src="img/index/02.png", alt="post-2")
						p Размеры солнечной станции зависят от количества потребляемой электроэнергии. Панели собираются по принципу конструктора. В случае необходимости существующую мощность системы можно увеличить за счет добавления дополнительных фотоэлектрических модулей.
			.delivery__elem
				.delivery__elem-img 
					img.img.big-img(src="img/index/post-3.png", alt="post-3")
					.delivery__elem-body 
						p Использование специальной системы креплений со сниженным весом позволяет не нагружать кровлю..
						img.img(src="img/index/03.png", alt="post-3")
						
