section.energy
	.energy__row 
		.energy__right
			.energy__right-body
				h2.title-1-b Используйте энергию Солнца под Ваши нужды
				p Использование даже малой части солнечной энергии способно удовлетворить энергопотребности всего человечества. Наши инженеры предложат эффективное решение Вашей задачи автономного и гибридного энергоснабжения и успешно реализуют проект, применяя в нём современное и качественное оборудование от известных мировых производителей.
				a(href="#").button2.button Перейти в каталог 
		.energy__left.others
			.swiper-container.others__slider
				.swiper-wrapper
					.swiper-slide
						.others__slider-img
							img(src="img/index/bg5.jpg", alt="")
					.swiper-slide
						.others__slider-img
							img(src="img/index/bg5.jpg", alt="")
					.swiper-slide
						.others__slider-img
							img(src="img/index/bg5.jpg", alt="")

				.swiper-pagination




