section.free2 
	.container 
		.free2__body
			.free2__body-left
				h2 Бесплатно подберём и рассчитаем необходимую энергосистему под Ваши потребности
				p Рассчитайте стоимость оборудования с учетом монтажа под ключ
			.free2__body-right 
				a(href="#").button-white Рассчитать стоимость 
