// hero
section.hero
	video(preload="none" muted="muted" playsinline webkit-playsinline autoplay loop style="background-image: url('./img/index/video-bg.jpg');").hero__video#video-bg 
		source(data-src="img/index/video-bg.mp4" type="video/mp4" src="")
	.video-overlay
	.container

		.hero__body 
			h1 Комплект солнечных батарей <br>
				span от 27 000 рублей
			p Расчет, доставка и монтаж солнечных электростанций под ключ по России и СНГ 
			.hero__btn
				a(href="catalog.html").button2.button Перейти в каталог 
		







	// /.container

// /.hero