section.order
	.order__wr
		.container 
			.order__body 
				h2.title-1 Как заказать солнечные батареи для Вашего дома
				p Всего 5 простых шагов отделяет Вас от создания эффективной солнечной энергосистемы:
			.timeline
				.timeline__block
					.timeline__block-l
					.timeline__elem.timeline__elem-1
						.timeline__elem-body 
							h4 Заполнение заявки
							p на сайте или консультация по телефону.
					.timeline__elem.timeline__elem-2
						.timeline__elem-body-2
							.timeline__elem-text 
								span.b Предварительный подбор оборудования 
								span.m и расчет стоимости. Согласование даты и времени визита инженера.
					.timeline__elem.timeline__elem-3
						.timeline__elem-body-3
							.timeline__elem-text 
								span.b Выезд специалиста 
								span.m на объект. Выполнение замеров и расчет сметы с учетом всех особенностей монтажа
					.timeline__elem.timeline__elem-4
						.timeline__elem-body-4
							.timeline__elem-text 
								span.b Оплата 
								span.m клиентом счета на оборудование.
					.timeline__elem.timeline__elem-5
						.timeline__elem-body-5
							.timeline__elem-text 
								span.m Монтаж.  
								span.b Пуск. 
								span.m Наладка.