.basketEl.g-ind
	.container 
		ul.breadcrumbs
			li 
				a(href="#") Главная 
			li 
				a(href="#") Корзина
		h2.title-2 Корзина
		.basketEl__wrap 
			.basketEl__elem
				a(href="#").basketEl__elem-link
					.basketEl__elem-img 
						img.img(src="img/index/b1.png", alt="b1")
					p Солнечная батарея <br> Delta SM15-12P
				.basketEl__elem-info
					.basketEl__elem-value 
						a(href="#" title="меньше" alt="меньше" data-less="1").less
						input(type="text" value="1" data-card-inp="1" data-card-inp-val="0").cards__int
						a(href="#" title="больше" alt="больше" data-more="1").more 
					span.cards__item-price(data-vvl="1100") 1 100 руб.
					a(href="#").basketEl__cans
						svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve')
							g
								g
									path(d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717\
									L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859\
									c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287\
									l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285\
									L284.286,256.002z')
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
			.basketEl__elem
				a(href="#").basketEl__elem-link
					.basketEl__elem-img 
						img.img(src="img/index/b1.png", alt="b1")
					p Солнечная батарея <br> Delta SM15-12P
				.basketEl__elem-info
					.basketEl__elem-value 
						a(href="#" title="меньше" alt="меньше" data-less="2").less
						input(type="text" value="1" data-card-inp="2" data-card-inp-val="0").cards__int
						a(href="#" title="больше" alt="больше" data-more="2").more 
					span.cards__item-price(data-vvl="1200") 1 200 руб.
					a(href="#").basketEl__cans
						svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve')
							g
								g
									path(d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717\
									L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859\
									c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287\
									l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285\
									L284.286,256.002z')
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
			.basketEl__elem
				a(href="#").basketEl__elem-link
					.basketEl__elem-img 
						img.img(src="img/index/b1.png", alt="b1")
					p Солнечная батарея <br> Delta SM15-12P
				.basketEl__elem-info
					.basketEl__elem-value 
						a(href="#" title="меньше" alt="меньше" data-less="3").less
						input(type="text" value="1" data-card-inp="3" data-card-inp-val="0").cards__int
						a(href="#" title="больше" alt="больше" data-more="3").more 
					span.cards__item-price(data-vvl="1300") 1 300 руб.
					a(href="#").basketEl__cans
						svg#Capa_1(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve')
							g
								g
									path(d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717\
									L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859\
									c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287\
									l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285\
									L284.286,256.002z')
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
							g
		.basketEl__summ 
			p Всего товаров: 5
			p Сумма заказа: 
				span 8 795 руб.
		.basketEl__btn 
			a(href="#").button3 Оформить заказ 
	
.basketEl__design
	.container
		h2.title-2 Оформление заказа
		.basketEl__design-elem 
			h4 Местоположение
			.basketEl__design-sel
				label
					select.g-select
						option(value="Россия") Россия
				label
					select.g-select
						option(value="Московская область") Московская область
				label
					select.g-select
						option(value="Москва") Москва
		.basketEl__design-elem 
			h4 Покупатель
			.basketEl__design-sel
				input(type="text" placeholder="ФИО").inp2
				input(type="tel" placeholder="Телефон").inp2
				input(type="email" placeholder="E-mail").inp2
			input(type="text" placeholder="Адрес").inp2.inp-full
		.basketEl__design-elem 
			h4 Оплата
			.basketEl__design-sel2
				.form_radio_btn
					input#radio-1(type='radio' name='radio' value='1')
					label(for='radio-1') 
						img(src="img/index/opl3.png", alt="opl3")
				.form_radio_btn
					input#radio-2(type='radio' name='radio' value='2')
					label(for='radio-2') 
						img(src="img/index/opl2.png", alt="opl2")
				.form_radio_btn
					input#radio-3(type='radio' name='radio' value='3')
					label(for='radio-3') 
						img(src="img/index/opl1.png", alt="opl1")
		.basketEl__design-btn 
			a(href="#").button3 Оплатить заказ 
	include ../section-basket/basketSlider